:root {
  /* Colors */
  --color-slate-900: #1f314f;
  --color-slate-500: #68778d;
  --color-slate-300: #d5e1ef;
  --color-white: #ffffff;

  /* Typography */
  --font-family: 'Outfit', sans-serif;

  /* Spacing */
  --space-500: 40px;
  --space-300: 24px;
  --space-200: 16px;
  /* Transition */
  --transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* Typography Styles */
.text-preset-1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: 0px;
  color: var(--color-slate-900);
}

.text-preset-2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: 0.2px;
  color: var(--color-slate-500);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
}
body {
  font-family: var(--font-family);
  background-color: var(--color-slate-300);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  width: 320px;
  height: 499px;
  border-radius: 20px;
  text-align: center;
  padding: var(--space-200);
  background-color: var(--color-white);
  transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
  transform-style: preserve-3d;
  transform: rotateX(0) translateY(0px);

  &::after {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 80%;
    height: 10px;
    bottom: 0px;
    left: 50%;
    border-radius: 50%;
    filter: blur(10px);
    opacity: 1;
    transform: translateX(-50%) translateZ(-1px) translateY(0);
    transition: all 0.4s ease;
  }
  &:hover {
    transform: translateY(-18px) rotateX(2deg);
  }

  &:hover::after {
    opacity: 1;
    transform: translateX(-50%) translateZ(-1px) translateY(25px) scale(0.8);
  }

  /* &:hover img {
    transform: scale(1.005);
  } */
  & img {
    width: 288px;
    height: 288px;
    border-radius: 10px;
    transition: var(--transition);
    transform: scale(1);
  }

  & h2 {
    margin-top: var(--space-300);
  }

  & p {
    margin-block: var(--space-200) var(--space-500);
  }
}
